<div class="career-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 ">
        <div class="card  my-3" >
          <div class="card-heading text-center bg-danger">
            <h1 style="color:white ;">Welcome to Career Page</h1>
          </div>
          <div class="card-body">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam magni suscipit placeat pariatur voluptatibus quisquam aperiam quod amet rerum. Blanditiis natus deserunt hic dolorem. Aspernatur architecto praesentium dignissimos enim fugiat.</p>
          <div class="text-right">
            <small><strong >Do Your Best</strong></small>
          </div>

          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card  my-3" >
          <div class="card-heading text-center bg-primary">
            <h1 style="color:white ;">Welcome to Career Page</h1>
          </div>
          <div class="card-body">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam magni suscipit placeat pariatur voluptatibus quisquam aperiam quod amet rerum. Blanditiis natus deserunt hic dolorem. Aspernatur architecto praesentium dignissimos enim fugiat.</p>
          <div class="text-right">
            <small><strong >Do Your Best</strong></small>
          </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
