<nav>
  <div class="container-fluid border-right">
    <div class="row">
      <div class="col-md-12">
      <div class="">
        <a routerLink="./home"><i class="fa-solid fa-house-chimney fa-3x"></i></a>
        Home</div>
      <div class="py-3">
        <i class="fa-solid fa-address-card fa-3x"></i>
        About</div>
      <div class="py-3">
        <i class="fa-solid fa-address-book fa-3x"></i>
        contact</div>
      <div class="py-3">
        <i class="fa-solid fa-briefcase fa-3x"></i>
        Services</div>
      <div class="py-3">
        <i class="fa-solid fa-building fa-3x"></i>
        Career</div>
      </div>

    </div>
  </div>
</nav>
