i:hover{
  color: rgb(33, 147, 182);
  text-shadow: 1px 1px 1px #ccc;
}
.posFixed{
  background-color:aqua;
  height: 100vh;
}
.border-right{
  border: 2px solid black;
  border-top: none;
  border-bottom: none;
  border-left: none;
  height: 150vh;
}
